<section class="sectionGeneral container-sm">
    <section class="sectionForm">
        <form [formGroup]="registroForm" (ngSubmit)="Enviar()">
            <h4>Login</h4>
            <section class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" formControlName="username" required pattern="[a-zA-Z]+" maxlength="{a-z}">
                <section *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <section *ngIf="username?.errors?.['required']" class="alert alert-danger">
                        <p>El usuario es obligatorio</p>
                    </section>
                    <section *ngIf="username?.errors?.['pattern']" class="alert alert-warning alertaInput">
                        <p>El usuario debe ser solo letras</p>
                    </section>
                </section>
            </section>
            <section class="form-group">
                <label for="password">Password:</label>
                <input type="text" class="form-control" id="password" formControlName="password" required pattern="[a-zA-Z]+" maxlength="{a-z}">
                <section *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                    <section *ngIf="password?.errors?.['required']" class="alert alert-danger">
                        <p>El password es obligatorio</p>
                    </section>
                    <section *ngIf="password?.errors?.['pattern']" class="alert alert-warning alertaInput">
                        <p>El password debe ser solo letras</p>
                    </section>
                </section>
            </section>
            <section class="form-group sectionButton">
                <input type="button" class="btn btn-success" [disabled]="!botonDeshabilitado" (click)="login()" value="Log in">
            </section>            
        </form>
    </section>
</section>
