<h2 class="text-center">Lista de Usuarios</h2>
<section class="container-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>userid</th>
                <th>id</th>
                <th>title</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of listado">
                <td>{{ item.userId }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
            </tr>
        </tbody>
    </table>
</section>


