
<section class="container-fluid">
    <section class="row">
        <section class="col-6">
            <h3>Framework Angular</h3>
            <p>Angular es una plataforma y un framework para crear aplicaciones de una sola página 
                en el lado del cliente usando HTML y TypeScript
            </p>
            <p>Angular esta escrito en TypeScript</p>
            <p> Implementa la funcionalidad basica y opcional como un conjunto de bibliotecas TypeScript
                que importas en tus aplicaciones
            </p>
        </section>
        <section class="col-6" style="align-items: center;">
            <img src="assets/logito.png" alt="">

        </section>
    </section>
</section>