
  

    <section class="row">
      
      <section class="col-6">

        <form action="" (ngSubmit)="Agregar()">
          <section class="card w-50 mx-auto mt-5">
            <section class="card-body text-center">
              <input type="text" class="form-control mb-3" name="tarea" placeholder="Ingresa nombre de la Tarea"  [(ngModel)]="tarea">
              <textarea class="form-control" rows="5" placeholder="Ingresa descripción" name="descripcion" [(ngModel)]="descripcion" ></textarea>
             
               <!-- Este Dom es utilizado para el reto de la diapositiva hecha en clase -->
              <!-- <button class="btn btn-primary mt-5" type="submit" (click)="Agregar()">Enviar</button>  -->

              <section class="" *ngIf="tarea !== '' && descripcion !== ''  ; else mostrar ">
                <button class="btn btn-primary mt-5" type="submit" (click)="Agregar()">Enviar</button>
                </section>
        
                <ng-template #mostrar>
                  {{mensaje}}
                </ng-template>

            </section> 
          </section>
        </form>

      </section>

      <section class="col-6">
        <app-componente4 [tareas]="tareas"></app-componente4>
      </section>
    </section>

   
      
     
     
      
         
   

        