<section class="container-fluid p-3" >
    <h2 class="mb-4 mt-4">Nombre del pais: {{title}}</h2>
  
    <section class="col-3 mt-2 mb-2">
      <img src="./assets/perubandera.png" alt="" width="290" height="150">
    </section>
  
  
    <h4 class="mt-4 mb-4">Datos Generales</h4>
  
    <p style="font-size: 20px;; text-align: justify;">Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.</p>
  
    <p style="font-size: 20px;; text-align: justify;"> El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.</p>
  </section>
  