a{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgMaracuya{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
}

img{
        width: 2rem;
}

nav{
    background: #14022d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #c981cd, #d433a1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f9a7e3, #c731ca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-link{
    border-radius: 2rem;
}

.nav-link:hover{
    background-color: rgb(251, 0, 255);
    border-radius: 2rem;
    font-weight: bolder;
}