<section class="container-fluid p-3" >
    <h2 class="mb-4 mt-4">Nombre del pais: {{title}}</h2>
  
    <section class="col-3 mt-2 mb-2">
      <img src="./assets/Bandera_Uruguay_2018.png" alt="" width="290" height="150">
    </section>
  
    <h4 class="mt-4 mb-4">Datos Generales</h4>
  
    <p style="font-size: 20px; text-align: justify;">	Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
  </section>